<header class="side-navigation">
  <a href="{{ .Site.BaseURL }}">
    <img class="avatar" src="{{ .Site.Params.avatar | default "avatar.jpg" | relURL }}"
         alt="{{ .Site.Params.author | default "John Doe" }}" />
  </a>
  <h1>{{ .Site.Title }}</h1>
  {{- with .Site.Menus.main }}
  <nav class="menu">
    {{- range $key, $item := . }}
      {{- if ne $key 0 }}
        {{ $.Site.Params.menu_item_separator | default " - " | safeHTML }}
      {{ end }}
      <a class="item" href="{{ $item.URL }}">{{ $item.Name }}</a>
    {{- end }}
  </nav>
  {{- end }}
  <p>{{ .Site.Params.description | default "params.description missing in config.toml" }}</p>
  {{- with .Site.Params.social }}
    <div class="social">
      {{ range . }}
      <a href="{{ .url }}" target="_blank" rel="noreferrer noopener">
        {{ $icon := print "/static/icons/" .icon ".svg" }}
        {{ (printf $icon | readFile) | safeHTML }}
      </a>
      {{ end}}
    </div>
  {{- end}}
</header>
