.post {
    .header {
        .title {
            font-size: 2em;
        }

        .meta {
            font-size: 0.8rem;
        }
    }

    .content {
        //width: 100%;
        & > pre,
        .highlight {
            margin: 1em 0;
        }

        & > pre,
        .highlight > pre,
        .highlight > div {
            border-left: 0.4em solid rgba($primary_accent, .8);
            background: rgba($secondary_background, 0.8);
            code {
                span {
                    margin-bottom: 0.25em;
                }
            }
        }

        img {
            max-width: 100%;
        }
    }
}
